<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>

    
    <figure>
        <a>
            <img src="/Images/construction.png" alt="NotRdy" style="width:1260px;height:600px;">
        </a>
    </figure>
    <script>
        window.alert("Page is not ready yet");
    </script>

</body>
</html>
