<html>
<head>
    <title>MEI - Contacts</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    <div id="sub_pages">
        <div id="sub_pages_content">
            <a href="/Pages/artists_page.html">artists</a>
            <a href="/Pages/not_rdy_page.html">albums</a>
            <a href="/Pages/requests_page.html">requests</a>
            <a href="/Pages/contacts_page.html">contacts</a>
            <h1>Contacts</h1>
            <h2>
                @Html.ActionLink("Option 1", "Contacts")
            </h2>
            <p>Clickable images, without names</p>
            <br /><br /><br />
                <figure>
                    <a href="Contacts/maxPage.html">
                        <img src="/Images/maxImg.jpg" alt="Max Leshkov" style="width:300px;height:453px;">
                    </a>
                </figure>
                <figure>
                    <a href="~/Views/Contacts/eugenyPage.html">
                        <img src="/Images/eugenyImg.jpg" alt="Eugeny Khanchin" style="width:300px;height:453px;">
                    </a>
                </figure>
                <figure>
                     <a href="~/Views/Contacts/itayPage.html">
                        <img src="/Images/itayImg.jpg" class="center" alt="Itay Malka" style="width:300px;height:453px;">
                     </a>
                </figure>
        </div>
    </div>
</body>
</html>