<html>
<head>
    <title>MEI - Artists</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    <div id="sub_pages">
        <div id="sub_pages_content">
            <a href="/Pages/artists_page.html">artists</a>
            <a href="/Pages/not_rdy_page.html">albums</a>
            <a href="/Pages/requests_page.html">requests</a>
            <a href="/Pages/contacts_page.html">contacts</a>
            <h1>Artists</h1>
            <br /><br /><br />

            <div class="img" style="background-image:url('/Images/Artists/the_heavy.jpg');">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <a href="">The Heavy</a>
            </div>

            <div class="img" style="background-image:url('/Images/Artists/port_noir.jpg');">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <a href="">Port Noir</a>
            </div>

            <div class="img" style="background-image:url('/Images/Artists/linkin_park.jpg');">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <a href="">Linkin Park</a>  
            </div>

            <div class="img" style="background-image:url('/Images/Artists/the_prodigy.jpeg');">
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <a href="">The Prodigy</a>   
            </div>
        </div>
    </div>
</body>
</html>