<html>
<head>
    <title>MEI - Contacts</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    <div id="sub_pages">
        <div id="sub_pages_content">
            <a href="/Pages/artists_page.html">artists</a>
            <a href="/Pages/not_rdy_page.html">albums</a>
            <a href="/Pages/requests_page.html">requests</a>
            <a href="/Pages/contacts_page.html">contacts</a>
            <h1>Contacts</h1>
            <h2>
                    @Html.ActionLink("Option 2", "AltContacts")
            </h2>
            <p>With Names, clickable names. (Images are not)</p>
            <br /><br /><br />
            <figure>
                <img src="/Images/maxImg.jpg" alt="Max Leshkov" style="width:300px;height:453px;">
                <figcaption><a href="~/Contacts/maxPage.html">Max Leshkov</a></figcaption>
            </figure>
            <figure>
                <img src="/Images/eugenyImg.jpg" alt="Eugeny Khanchin" style="width:310px;height:453px;">
                <figcaption><a href="~/Contacts/eugenyPage.html">Eugeny Khanchin</a></figcaption>
            </figure>
            <figure>
                <img src="/Images/itayImg.jpg" alt="Itay Malka" style="width:300px;height:453px;">
                <figcaption><a href="~/Contacts/itayPage.html">Itay Malka</a></figcaption>
            </figure>
        </div>
    </div>
</body>
</html>