@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>MEI</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    <div id="sub_pages">
        <div id="sub_pages_content">
            <a href="/Pages/artists_page.html">artists</a>
            <a href="/Pages/not_rdy_page.html">albums</a>
            <a href="/Pages/requests_page.html">requests</a>
            <a href="/Pages/contacts_page.html">contacts</a>
            <br /><br /><br /><br /><br /><br />
            <h1>Welcome to MEI!</h1>
            <br /><br /><br /><br />
            <p>Our page contains a collection of albums' stories.</p>
            <p>Find out how your favorite band created her albums!</p>
        </div>
    </div>
</body>
</html>
